.row{
    width:100%
}

#back{
    margin-top:15px;
}
:root {
    --primary-color: #007bff;
    --bgc-color:rgba(0, 132, 255, 0.123);
}

.navbar,.row{
    max-width: 100%;
}
.container-fluid{
    padding: 0%;
}
*{
    font-family: 'Montserrat', sans-serif;
}
/*Lista de elementos*/
.student-data:nth-child(even), .box-tuit {
    background-color: var(--bgc-color) !important;
}

/*Formularios*/
.modal-header{
    margin-right: 0px;
    margin-left: 0px; 
    padding:.5rem;
}

.modal-title>h5, .modal-header>h5{
    color:var(--primary-color);
    font-size: 1.5em;
    margin-top: .5em;
}
.close {
    color:var(--primary-color);
    font-size: 2em;
} 
.close:hover {
    color:red;
}
#frm-show p{
    margin-bottom: 0;
}
#frm-show input, .modal-body input{
    margin-bottom: 1em;
    padding-left: 5px;
    border-radius: .25rem;
    border:1px solid var(--primary-color);
}#frm-show select{
    margin-bottom: 1em;
    border-radius: .25rem;
    padding-right: 4.5em;
    padding-left: 4.5rem;
    padding-top: .15rem;
    padding-bottom: .15rem;
    border:1px solid var(--primary-color);
    background-color: transparent;
}

/*Botones de elección*/
.options{
    padding:0;
}

#void{
    display:block;
    margin:auto;
}

@media all and (max-width: 768px) {

    #iconPpal{
        display: none;
    }
    #search{
        width: 70%;
        margin-right:15px;
    }
    .student-data-title{
        display: none;
    }
    .void{
        margin-top: 10px;
        font-size: 1em;
    }
    
    .close{
        display: none;
    }
    .title{
        font-size: 1.5em;
    }

    /*Tuit*/
    #id-tuit{
        margin-left:10% !important;
        width: 80% !important;
    }
    .box-tuit{
        margin-top:15px;
    }

    /*Chat*/
    #contenedor{
        width: 100% !important;
        margin:0!important;
    }
    #caja-send{
        margin-left:0% !important ;
        width: 100% !important;
    }#caja-send>.row{
        margin-left:0% !important ;
        /* width: 100% !important; */
    }#caja-send>p{
        padding-left:15px !important ;
        /* width: 100% !important; */
    }
}