/*Soluciona el error los margen del row en el modal.*/
.modal-header{
    margin-right: 0px !important;
    margin-left: 0px !important; 
}
#sing-up{
    border: 1px solid var(--primary-color);
    border-radius: 15px;
}
#error{
    z-index: 99;
}
.imgcarusel{
    width: 100vw  !important;
    height: calc(100vh - 74px)  !important;
    
}
.d-md-block{
    background-color: rgba(0, 0, 0, .8);
}